In [4]:
import pandas as pd
import cvnn
import tensorflow as tf
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from tensorflow.keras.utils import to_categorical
import cvnn.layers as complex_layers

In [6]:
path = '/home/saumya/Documents/NRSC SAR CVNN/Data_Kaggle/'
file_name = 'logged_data.csv'

In [7]:
df = pd.read_csv(path+file_name)

In [11]:
df.columns

Index(['Timestamp', 'Frequency', 'Signal Strength', 'Modulation', 'Bandwidth',
       'Location', 'Device Type', 'Antenna Type', 'Temperature', 'Humidity',
       'Wind Speed', 'Precipitation', 'Weather Condition', 'Interference Type',
       'Battery Level', 'Power Source', 'CPU Usage', 'Memory Usage',
       'WiFi Strength', 'Disk Usage', 'System Load', 'Latitude', 'Longitude',
       'Altitude(m)', 'Air Pressure', 'Device Status', 'I/Q Data'],
      dtype='object')

In [13]:
df.drop([NaN])

NameError: name 'NaN' is not defined